*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
}
#page_site{
    position: absolute;
}
#admin_nav{
    max-width: 1200px;
    margin: auto;
}
.form_sign_up{
    background-color: #fff;
    margin: auto;
    border: 1px solid #000;
}
#sign_up{
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 450px;
    margin: auto;
    margin-top: 5%;
    left: 50%;
    margin-left: -15%;
}
#out{
    display: none;
}
#open_admin_page{
    display: none;
}
#menu-for-user{
    display: none;
}
#box-for-grid{
    display: grid;
    justify-self: center;
    align-self: center;
}
#box_for_products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    justify-self: center;
    align-self: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}
#box-for-product{
    position: relative;
    width: 100%;
    height: 400px;
}
#img-product{
    width: 100%;
    height: 300px;
}
.open-more{
    position:absolute; 
	bottom:0;
    width: 100%;
    height: 50px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
}
.open-more:hover{
    background-color: #5A5A5A;
}
#prosuct_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
    
}
#product_img{
    width: 550px;
    height: 550px;
    border: 2px solid #343a40;
}
#box-for-img{
    display: grid;
    justify-self: center;
    align-self: center;
}
.button-basket{
    width: 170px;
    height: 50px;
    background-color: #343a40;
    color: #fff;
    font-size: 20pt;
    text-align: center;
}
.button-basket:hover{
    background-color: #5A5A5A;
}
.product_text_box{
    height: 50px;
}
h3{
    color:red;
}
p{
    color:red;
}
#g{
    display: block;
}
.carusel-box{
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
